
*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{

    --clear-color: #F2F5F4; /* Anti-Flash White */
    --text-color: #A8A9AD; /* Metallic Silver */
    --dark-color: #1D2951; /* Space Cadet */
    --accent-color: #FCE883; /* Yellow (Crayola) */
    --interactive-color: #367588; /* Teal Blue */
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --header-height:80px;
}

@media (min-width: 880px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*GENERAL STYLES*/

body{
    background: var(--clear-color);
    color: var(--text-color);
    margin: 0;
    font-family:;     /*por agregar*/
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{padding: 5em 2em;}

img{
    display: block;
    max-width: 100%;
}

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

nav{ display:none;}




/* HEADER */
header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 1000;
    background: var(--dark-color);
}

.logo{
    display: flex;
    max-width: 100px;
    margin-left: 0.75em;
    height: 50px;
}
img#logo{
    height: 40px;
    align-items: center;
    margin-top: .25em;
}

.nav{
    position: fixed;
    background: var(--dark-color);
    color: var(--text-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5 0 .5 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--accent-color);
}

.nav-toggle{
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-right: .75em;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--accent-color);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}


.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; /* O ajusta según lo necesites */
    padding: 2em; /* Para un poco de espacio alrededor */
    background: linear-gradient(to right, 
                                var(--interactive-color) 0%, 
                                var(--interactive-color) 33.33%, 
                                var(--clear-color) 33.33%, 
                                var(--clear-color) 100%);
}

.section__intro_text {
    width: 50%; 
    text-align: center;
}

.section__title, .section__subtitle {
    color: var(--text-color); 
}

.section__title--intro {
    /*Seccion para el titulo de gabino hernandez*/
    font-size: var(--fs-h1); 
    color: var(--accent-color); 
}

.section_subtitle--intro {
    font-size: var(--fs-h3);
}


/*Servicios */

.my-services{
    background: var(--dark-color);
    color: var(--text-color);
    text-align: center;
}

.section__title--services{
    color: var(--accent-color);
    position: relative;
}

.section__title--services::after{
    content:'';
    display: block;
    width: 3em;
    height: 1px;
    margin: .5em auto 1em;
    background: var(--clear-color);
    opacity: 0.4;
}

@media 
